* {
    font-family: Calibri;
}

body {
    background-color: #1b1b1b;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 2px 10px;
    border-bottom: 5px solid #f73859;
    background-color: #18202e;
}

footer {
    background-color: #c4edde;
    padding: 20px;
    margin-top: 800px;
    border-top: 5px solid #f73859;
}

footer p {
    color: #222e42;
    font-weight: bold;
    font-size: 18px;
}

.header-top {
    display: flex;
    align-items: center;
}

.brand a img {
    display: flex;
    height: 70px;
    margin-left: 10px;
    margin-right: 30px;
    transition: scale 0.3s;
}

.brand a img:hover {
    scale: 1.05;
}

.login button,
.signup button {
    width: 70px;
    height: 30px;
    position: absolute;
    font-size: 15px;
    border-radius: 20px;
    border: 0px;
    color: #18202e;
}

.login button {
    background-color: #c4edde;
    right: 30px;
    top: 24px;
    transition: color 0.3s;
    transition: scale 0.3s;
}

.login button:hover {
    color: #FFFFFF;
    background-color: #37b4ba;
    border: 2px solid #37b4ba;
    scale: 1.05;
    font-size: 16px;
}

.signup button {
    background-color: #f73859;
    right: 110px;
    top: 24px;
    transition: color 0.3s;
    transition: scale 0.3s;
}

.signup button:hover {
    color: #ffffff;
    background-color: #d52142;
    border: 2px solid #d52142;
    scale: 1.05;
    font-size: 16px;
}

.navbar a {
    text-decoration: none;
    color: #c4edde;
    margin-right: 18px;
    font-size: 15px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.navbar a:hover {
    font-size: 18px;
    color: #f73859;
    text-transform: uppercase;
}

.phone a {
    text-decoration: none;
}

.social_media {
    display: flex;
    margin: 0;
}

.social_media div {
    margin-right: 20px;
    margin-left: 5px;
}

.social_media div a img {
    width: 40px;
}

.icon-cart img {
    position: absolute;
    height: 25px;
    right: 240px;
    top: 24px;
    transition: scale 0.3s;
}

.icon-cart img:hover {
    scale: 1.1;
}

.cart-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.cart {
    background-color: #212121;
    border-radius: 8px;
    padding: 20px;
    width: 60%;
}

.cart-header h2 {
    background-color: #ff4d4d;
    display: inline-block;
    padding: 10px;
    color: #fff;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.cart-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.cart-item {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.cart-item img {
    width: 50px;
    border-radius: 8px;
}

.item-info h3 {
    margin: 0;
    padding: 0;
}

.item-actions {
    display: flex; 
    gap: 10px; 
    align-items: center; 
}

.item-actions button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    width: 35px; 
    
    border-radius: 50%;
    margin: 0; 
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
}


.special-request input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #333;
    border: none;
    color: #fff;
}

.price-summary {
    margin: 20px 0;
}

.price-summary p {
    display: flex;
    justify-content: space-between;
}

.action-buttons button {
    background-color: #ff4d4d;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer; 
    border-radius: 20px;
}

.recommendations {
    width: 35%;
}

.recommendations h2 {
    margin-bottom: 20px;
}

.recommended-items {
    display: flex;
    gap: 10px;
}

.recommended-item {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    position: relative;
}

.recommended-item button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; 
}