*{
    font-family:Calibri;
}
body {
    background-size:cover;
    margin: 0;
    padding: 0;
    background-color: #18202e;
}

header {
    padding: 2px 10px;
    border-bottom: 5px solid #f73859;
    background-color: #18202e;
}

footer{
    background-color:#c4edde;
    padding: 20px;
    margin-top: 80px;
    border-top:5px solid #f73859;
}
footer p{
    color:#222e42;
    font-weight: bold;
    font-size: 18px;
}

.header-top {
    display: flex;
    align-items: center;
}

.brand a img{
    display: flex;
    height: 70px;
    margin-left: 10px;
    margin-right: 30px;
}

.cart img {
    height: 25px; 
    margin-left: 440px;
    margin-right: 50px;
}

.navbar a{
    text-decoration: none;
    color: #c4edde;
    margin-right: 20px;
    font-size: 17px;
}

.user{
    display: flex;
    text-indent: 10px;
}
.login a,.signup a{
    text-decoration: none;
}
.phone a{
    text-decoration: none;
}
.social_media{
    display: flex;
    margin: 0;
}
.social_media div{
    margin-right: 20px;
    margin-left: 5px;
}
.social_media div a img{
    width: 40px;
}
.sun{
    float: right;
    width: 35px;
    margin-right: 10px;
    margin-top: 10px;
}
.food-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px 160px;
    border-radius: 10px;

}

.photo {
    width: 40%; 
}

.photo img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(24, 40, 59, 0.133)  ;
}

.content {
    flex: 1;
    margin-left: 5%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
}
.big_info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width: 45%;
    margin-top: 30px;
    /* padding-top:50px; */

    /* position: relative;
    top:-60px; */
}
.info span{
    font-weight: 600;
}
.info div{
    display: flex;
    /* background-color: #c4edde; */
    border: #bcbcbc solid .2px;
    padding: 3px 10px;
    border-radius: 5px;
    margin:5px 5px ;

}
#desc{
font-size: 25px;
font-weight: 100;
/* margin: 0; */
/* top: -50px; */
width: 80%;
color: #767676;
position: relative;
margin: 10px 0 20px;
}
#resname{
    font-size: 30px;
    font-weight: 100px;
    margin-top: 0;
    /*margin-bottom: 15px; */
    /* top: -70px;
    position: relative; */
}
#NAME{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px 0;
    /* margin: 0; */
    /* position: relative;
    top: -90px; */
}
.btns{
    display: flexbox;
    justify-content: space-between;
    flex-direction: row;
    /* margin-top: 150px; */
    /* position: relative;
    top: 80px; */
}
.qty{
    height: 50px;
    max-width: 140px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #c4edde;
    border-radius: 12px;
    box-shadow: 0 5px 5px rgba(24, 40, 59, 0.133)  ;
    cursor: pointer;
}
.qty span{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #7ac7c4;
}
.qty span.num{
    font-size: 25px;
    border-right:solid #7ac7c4  2px;
    border-left:solid #7ac7c4  2px;
    pointer-events: none;
}
.btn-de {
    --color:#f73859 ;
    font-family: inherit;
    display: inline-block;
    width: 140px;
    height: 2.6em;
    /* line-height: 2.5em; */
    margin: 0 20px ;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    align-items: center;
    text-decoration: none;
    padding-left:   20px;
    padding-right: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color:#fff ;
    float: right;

   }
   
   .btn-de:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .btn-de:hover {
    color: #fff;
    box-shadow: #f59eadbf 0 5px 10px ;

   }
   
   .btn-de:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .btn-de:hover:before {
    top: -30px;
    left: -30px;
   }

.details{
    color: #f73859;
    text-transform: capitalize;
    /* margin: 50px 0 20px; */
    /* position: relative;
    top:-40px; */
}
.details h3{
    margin: 0;
    text-decoration: underline;
    font-weight: 400;
}
#price{
    font-size: 50px;
    font-weight: 600;
    text-align: end;
    margin-right: 100px;
    /* margin:0 50px 5px ; */
    /* padding-right: 100px; */
    /* top: 40px; 
     position: relative; */

}