body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 20px;
    border-bottom: 2px solid #000000;
}

.header-top {
    display: flex;
    align-items: center;
}

.brand a img{
    display: flex;
    height: 70px;
    margin-left: 30px;
    margin-right: 150px;
}

.cart img {
    height: 30px; 
    margin-left: 400px;
    margin-right: 100px;
}

.navbar {
    margin: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:left;
}

.navbar ul li {
    margin: 0 20px;
}


.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #007BFF;
}
.user{
    display: flex;
    text-indent: 10px;
}
.login a,.signup a{
    text-decoration: none;
}
footer{
    margin-top: 100px;
    font-size: 14px;
}
.phone a{
    text-decoration: none;
}
.social_media{
    display: flex;
    margin: 0;
}
.social_media div{
    margin-left: 20px;
}
.social_media div a img{
    width: 40px;
}
