*{
    font-family:Calibri;
}

header {
    padding: 2px 10px;
    border-bottom: 5px solid #f73859;
    background-color: #18202e;
}

footer{
    background-color:#c4edde;
    padding: 20px;
    margin-top: 800px;
    border-top:5px solid #f73859;
}
footer p{
    color:#222e42;
    font-weight: bold;
    font-size: 18px;
}

.header-top {
    display: flex;
    align-items: center;
}

.brand a img{
    display: flex;
    height: 70px;
    margin-left: 10px;
    margin-right: 30px;
    transition: scale 0.3s;
}
.brand a img:hover{
    scale: 1.05;
}

.cart img {
    position: absolute;
    height: 25px; 
    right: 240px;
    top: 24px;
    transition: scale 0.3s;
}
.cart img:hover{
    scale: 1.1;
}

.navbar a{
    text-decoration: none;
    color: #c4edde;
    margin-right: 18px;
    font-size: 15px;
    text-transform: uppercase;
    transition: color 0.3s;
}
.navbar a:hover{
    font-size: 18px;
    color: #f73859;
    text-transform: uppercase;
}

.user{
    display: flex;
    text-indent: 10px;
}

.login button,.signup button{
   width: 70px;
   height: 30px;
   position: absolute;
   font-size: 15px;
   border-radius: 20px;
   border: 0px;
   color:#18202e;
}
.login button{
    background-color: #c4edde;
    right: 30px;
    top: 24px;
    transition: color 0.3s;
    transition: scale 0.3s;
}
.login button:hover{
    color: #FFFFFF;
    background-color:#37b4ba;
    border: 2px solid #37b4ba;
    scale: 1.05;
    font-size: 16px;
}

.signup button{
    background-color:#f73859;
    right: 110px;
    top: 24px;
    transition: color 0.3s;
    transition: scale 0.3s;
}
.signup button:hover{
    color: #ffffff;
    background-color: #d52142;
    border: 2px solid #d52142;
    scale: 1.05;
    font-size: 16px;
}

.phone a{
    text-decoration: none;
}
.social_media{
    display: flex;
    margin: 0;
}
.social_media div{
    margin-right: 20px;
    margin-left: 5px;
}
.social_media div a img{
    width: 40px;
}

body {
    background-image: url("Resources/Images/Home-Page-Background.jpg");
    background-size:cover;
    margin: 0;
    padding: 0;
    background-color: #18202e;
}

.logo img{
    position: absolute;
    width: 200px;
    top: 95px;
    left: 720px;
    animation: zoom 7s infinite;
}
@keyframes zoom {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.08;
        rotate: 2deg;
    }
    100%{
        scale: 1;
    }
}

.plate{
    position: absolute;
    width: 720px;
    top: 65px;
    left: -370px;
}
.plate:hover{
    animation: rotate 50s infinite linear;
}
@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 360deg;
    }
    100%{
        rotate: 0deg;
    }
}

.button1 button{
    height: 50px;
    width: 150px;
    border: 0px;
    border-radius: 30px;
    float: left;
    margin-top: 500px;
    margin-left: 350px;
    margin-bottom: 200px;
    font-size: 24px;
    font-weight: bold;
    color:#18202e;
    background-color: #c4edde;
    transition: color 0.2s;
}
.button1 button:hover{
    color:#dee9e5;
    background-color:#37b4ba;
}

.button2 button{
    height: 50px;
    width: 150px;
    border: 0px;
    border-radius: 30px;
    float: left;
    margin-top: 500px;
    margin-left: 30px;
    margin-bottom: 200px;
    font-size: 24px;
    font-weight: bold;
    color:#18202e;
    background-color: #f73859;
    transition: color 0.2s;
}
.button2 button:hover{
    color:#c4edde;
    background-color: #d52142;
}