.search-bar{
  width: 10%; /* to adjust the width*/
  height: 15px;/*to adjast th hight*/    
  margin: 5px auto;
  background: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 60px;
   border: 1px solid #f73859;
   padding: 10px 20px;
   box-shadow: 0 5px 5px rgba(24, 40, 59, 0.133)  ;
   float: right;
   margin-right: 50px;
}
  .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 0px;
    font-size: 15px;
    color: #f73859;
    width: 80%;
  }
  ::placeholder{
    color: #f73859;
  }
  .search-bar button img{
    width: 25px;
    height: 25px;
  }
  .search-bar button{
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: none;
    cursor: pointer;
  }
  
